@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aguafina+Script|Dancing+Script|Kaushan+Script|Open+Sans|Petit+Formal+Script|Pinyon+Script|Roboto|Rouge+Script');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    background-color: #e5d9d9a1;
}

.navbar {
    background-color: rgb(199, 144, 105);
    border-radius: 0px;
    margin: 0px;
    border-color: rgba(255, 255, 255, 0);
}

.nav_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.imgLogo {
    width: 50px;
    padding: 0;
}

.tab-nav {
    outline: none;
    display: none;
}

.label {
    display: none;
    color: white;
}

.content_nav {
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content_nav li {
    display: inline-block;
    padding-right: 10px;
}

.content_nav li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after {
    transform: scale(1, 1);
}

.content_section {
    height: 120vh;
    background-image: url(back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .label {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .nav_checkbox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px 0px;
    }

    .content_nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: left;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
        padding-left: 10px;
    }

    .nav_checkbox input:checked~.content_nav {
        max-height: 500px;
    }

    .content_nav li {
        padding: 15px 0px;
    }

    .content_nav .liMsass {
        padding: 0px 0px;
    }

    .Msass {
        display: none;
    }
}


header {
    background-image: url('../Fotos/fondo1.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
    text-shadow: 1px 1px 1px #333;
    /* background-image: linear-gradient(135deg, #9f05ff69 10%, #8f431a6b 100%); */
    background-image: linear-gradient(135deg, #3e22007d 10%, #99553100 100%);
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: white;
    text-align: start;
    margin-bottom: 30px;
}

.gridTitulo {
    display: grid;
    margin: 5% 0;
    grid-template-columns: 200px 400px;
    color: white;
}

.Pdescripcion {
    color: white;
}

.divDescripcion {
    grid-column: 1 / span 2;
}

.Pdecoracion {
    font-size: 20px;
    color: white;
    font-family: 'Caveat', cursive;
    display: flex;
    align-items: flex-end;
}

.divAbs {
    top: 40px;
    right: 0;
    position: absolute;
}

.productos {
    margin: 5% 0px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .gridTitulo {
        grid-template-columns: 200px 100px;
    }

    .divAbs {
        right: -30px;
    }

    header .overlay {
        padding: 50px 10px;
    }
}

main {
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
    --color: #3c3163;
    --transition-time: 0.5s;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
}

.card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: url("../Fotos/banner5.webp");
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 5px solid #c79069;
    text-decoration: none;
}

#cardCupCake {
    background-image: url("../Fotos/banner1.jpeg");
}

#cardTarta {
    background-image: url("../Fotos/banner2.jpeg");
}

.card:hover {
    transform: rotate(0);
}

.card h3 {
    margin: 0;
    color: white;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: rgb(122 64 23 / 15%);
    /* background: rgba(255, 123, 123, 0.342); */
    width: 250%;
    height: 250%;
}

.card:after {
    background: rgb(122 64 23 / 15%);
    /* background: rgba(255, 123, 123, 0.342); */
    width: 200%;
    height: 200%;
}

.card:hover {
    color: #c79069;
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.imgPersona {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    border: 5px solid #c79069;
}

.scSobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descripcionPersonal {
    width: 250px;
    margin-bottom: 100px;
}


.scComentarios {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.scrollY{
    height: 300px;
    overflow-y: scroll; 
    margin-bottom: 120px;
}
.scComentarios div h3 {
    padding-left: 10px;
}

.scComentarios div h2 {
    text-align: center;
}

.scComentarios .divflex {
    display: flex;
}

.comentario {
    width: 400px;
    margin: 0px 50px;
    background-color: #c79069;
    color: black;
    position: relative;
}

.comentario h3 {
    padding: 0;
}

.comentario .pComentario {
    padding: 15px;
    padding-bottom: 40px;
}

.comentario .iconoPersona {
    position: absolute;
    bottom: -35px;
    right: 0;
}

.comentario .iconoPersona .iconoPers {
    width: 80px;
}

/*************************Pastele*****************************/
.colour-block {
    background: #c9895d;
    width: 100%;
    padding: 1% 10% 5% 10%;
    color: #fff;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
    width: 100%;
    height: 100px;
    left: 0px;
    margin-bottom: 20px;
    background: linear-gradient(to right bottom, #c9895d 49%, #eee7e7 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
    width: 100%;
    height: 100px;
    left: 0px;
    background: linear-gradient(to left bottom, #eee7e7 49%, #c9895d 50%);
}

.SubTituloh2 {
    text-align: center;
    font-size: 80px;
    font-family: 'wire one', serif;
    font-weight: normal;
}

.textoPrueba {
    font-size: 20px;
    font-family: 'Raleway', serif;
}

.scSeleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    flex-direction: column;
}

.divGrillaC {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 220px 150px;
    grid-template-rows: 150px 150px;
    grid-template-areas:
        "Crema Imagen Decoracion"
        "Bizcochuelo Imagen Relleno";
}

.divGrillaT {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 300px 150px;
    grid-template-rows: 150px 150px;
    grid-template-areas:
        "Crema Imagen Decoracion"
        "Bizcochuelo Imagen Relleno";
}

.scSeleccion .divGrilla {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 400px 150px;
    grid-template-rows: 150px 150px;
    grid-template-areas:
        "Crema Imagen Decoracion"
        "Bizcochuelo Imagen Relleno";
}

.imgSeleccion {
    position: relative;
    grid-area: Imagen;
    display: flex;
    justify-content: center;
}

.imgSelect {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -24%;
}

.divRelative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diseño {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-color: #ff9c58;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.grupo {
    grid-column: 3 / 3;
    grid-row: 1/3;
}

.controlesTop {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.union {
    grid-column: 1/1;
    grid-row: 1/3;
}

.grupo .selectCrema {
    position: absolute;
    top: 95px;
}

.selectDeco {
    position: absolute;
    top: 40px;
    right: -20px;
}

.selectBiz {
    position: relative;
    top: -50px;
}

.selectT {
    position: absolute;
    top: 30px
}

#Crema {
    grid-area: Crema;
}

#Decoracion {
    grid-area: Decoracion;
}

#Bizcochuelo {
    grid-area: Bizcochuelo;
}

#Relleno {
    grid-area: Relleno;
}

.divpedido {
    padding: 20px;
    background-color: #ff9c58;
}

#DecoracionCupcake {
    grid-area: Decoracion;
}

.divFlex {
    display: flex;
    justify-content: center;
}

.divpasteles {
    margin: 0px 30px;
}

.scPedidos {
    text-align: center;
}

.formulario {
    text-align: start;
    display: flex;
    justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

/**********************SIMULADOR************************/
.contact_form {
    width: 460px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}


input,
.select {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}

#btnPedido {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #a74343;
    border-color: #a74343;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

#btnPedido p {
    color: #fff;
    margin: 0;
}


span {
    color: #ab4493;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.scPedido {
    display: flex;
    justify-content: center;
}

.buttonPedido {
    padding: 5px 50px;
    background: #b76227;
    border: 2px solid #8f5023;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
    color: white;
}

.buttonPedido:hover {
    background-color: #cc7639;
}

/**********************Carrito**********************/
.carrito {
    background-color: #ff982d;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 20px;
    margin: 20px 10px 20px auto;
}

.carrito img {
    width: 40px;
    height: 40px;
}

.cantProducto input {
    background-color: #ff6a00;
    border: 0 solid;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    padding: 0;
    position: absolute;
    right: 2px;
    top: -23px;
}

/*********************Footer***********************/

.list {
    display: flex;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    align-items: center;
    list-style: none;
    flex-direction: row-reverse;
}

.link {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0deg 100% 63% / 40%);
}

.link:hover {
    color: #fff;
    box-shadow: inset 0 -1.2em 0 hsla(0deg 97% 71% / 40%);
}

.enlace:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.pIcono {
    padding-top: 10px;
}

.enlace:hover~.enlace .pIcono {
    animation: wave-animation 0.3s infinite;
}

.divRedesSociales {
    display: flex;
    background-color: #c57c48;
    line-height: 1.3;
    font-family: Menlo, monospace;
    padding: 20px;
}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

/************************Contacto**************************/
.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    font-size: 3.2em;
    line-height: 48px;
    color: #df6712;
}

.contact-form .form-field {
    position: relative;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #c57c48;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #c57c48;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #ff974f, #e76a2f);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.contact-form .divbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scVer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
/**********************Productos***************************/
.cardFlex {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 50px 0px;
}

.container {
    position: relative;
    width: auto;
    height: auto;
}

.container .cardProduct {
    position: relative;
    width: 320px;
    height: 480px;
    background: #d3a585;
    border-radius: 20px;
    overflow: hidden;
}

/*Detalle del Circulo*/
.container .cardProduct:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c79069;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

/*Efecto del Circulo*/
.container .cardProduct:hover:before {
    clip-path: circle(80% at 50% -25%);
}

.container .cardProduct .imgBx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    /* width: 100%;
    height: 100%; */
    transition: .5s;
}

.container .cardProduct:hover .imgBx {
    top: 25%;
    transform: translateY(-25%);
    /* bug  */
}

.divRelative {
    position: relative;
}

.container .cardProduct .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.desayuno {
    width: 50px;
    height: 30px;
    border-color: rgba(0, 0, 0, 0);
    margin: 0;
}

.TipoDeTorta {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
}

.container .cardProduct .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .cardProduct .contentBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .cardProduct:hover .contentBx {
    height: 230px;
}

.container .cardProduct:hover .contentBox {
    height: 75%;
}

.container .cardProduct .contentBx h2,
.contentBox h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 15px;
}

.container .cardProduct .contentBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .cardProduct:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .cardProduct .contentBx .size h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 10px;
    padding: 10px;
}

.container .cardProduct .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .cardProduct .contentBx .size span:hover {
    /* other bug */
    background: #B90000;
}

.container .cardProduct .contentBx button {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    border: 0 solid;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .cardProduct .contentBox button {
    display: flex;
    width: 150px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin: 10px auto;
    border: 0 solid;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
    align-items: center;
    justify-content: center;
}

.container .cardProduct:hover .contentBx button,
.container .cardProduct:hover .contentBox button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}

#mostrarProducto {
    margin: 60px;
}

/*************************COMENTARIOS******************************/
.cardComentario{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e0e0e0;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    width: 800px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.comment-text {
    padding-left: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: #fff;
    background-color: #27a9e3;
    border-color: #27a9e3
}

.btn-cyan:hover {
    color: #fff;
    background-color: #1a93ca;
    border-color: #198bbe
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}

/***********************MEDIA QUERIES*******************/
@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1050px) {
    .scComentarios .divflex {
        flex-direction: column;
    }

    .comentario {
        margin: 30px 0;
    }
    .cardFlex{
        flex-direction: column;
    }
    .container{
        margin: 20px 0px;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }

    .get-in-touch {
        width: 500px;
    }

    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
    .cardComentario{
        width: 400px;
    }
}

@media screen and (max-width: 700px) {
    .divFlex {
        align-items: center;
        flex-direction: column;
    }

    .imgSelect {
        width: 200px;
        height: 200px;
        top: 0;
    }

    .imgCupcake {
        width: 250px;
        height: 250px;
    }

    .scSeleccion .divGrilla {
        grid-template-columns: 100px 200px 100px;
        grid-template-rows: 100px 100px;
    }

    .scSeleccion .divGrillaC {
        grid-template-columns: 104px 190px 103px;
        grid-template-rows: 130px 130px;
    }

    .scSeleccion .divGrillaT {
        grid-template-columns: 104px 250px 103px;
        grid-template-rows: 130px 130px;
    }

    .selectT {
        top: 20px;
    }

    .diseño {
        font-size: 18px;
        width: 100px;
    }
    .colProduct{
        margin: 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textCentrado{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    input,
    select,
    textarea,
    #btnPedido {
        width: 300px;
    }

    .contact_form {
        margin: 30px 0px;
        padding: 0;
    }
}

@media screen and (max-width: 570px) {
    .get-in-touch {
        width: 250px;
    }
}
@media (max-width: 576px){
    .justify-content-sm-center {
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }

    .card {
        max-width: calc(100vw - 4rem);
    }

    .list {
        grid-auto-flow: column;
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }

    .info h3 {
        margin: 0;
    }

    .imgSelect {
        width: 150px;
        height: 150px;
    }

    .imgCupcake {
        width: 150px;
        height: 200px;
    }

    .selectDeco {
        top: 25px;
        right: -14px;
    }

    .selectCrema {
        top: 55px;
    }

    .scSeleccion .divGrilla {
        grid-template-columns: 80px 150px 80px;
        grid-template-rows: 80px 80px;
    }

    .scSeleccion .divGrillaC {
        grid-template-columns: 79px 114px 80px;
        grid-template-rows: 118px 110px;
    }

    .scSeleccion .divGrillaT {
        grid-template-columns: 79px 156px 80px;
        grid-template-rows: 100px 100px;
    }

    .selectT {
        top: 10px
    }

    .diseño {
        font-size: 14px;
        width: 80px;
    }
    .cardComentario{
        width: 280px;
    }
}

@media screen and (max-width: 420px) {
    .comentario {
        width: 200px;
    }

    .pComentario {
        font-size: 12px;
    }

    .container .cardProduct{
        width: 260px;
    }
}

