@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aguafina+Script|Dancing+Script|Kaushan+Script|Open+Sans|Petit+Formal+Script|Pinyon+Script|Roboto|Rouge+Script');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    ;
}

body {
    background-color: #fdc19f;
}

.navbar {
    background-color: #ffab7bef;
    border: 2px solid #fdc19f;
    border-radius: 0;
    margin: 0;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav>li>.Msass {
    padding: 0;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.imgLogo {
    width: 50px;
    padding: 0;
}

.navbar-toggle {
    padding: 0;
}

.navbar-default .navbar-toggle {
    border: 2px solid #fdc19f;
}

header {
    background-image: url('../Fotos/banner6.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #8f431a6b 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: white;
    text-align: start;
    margin-bottom: 30px;
}

.gridTitulo {
    display: grid;
    margin: 5% 0;
    grid-template-columns: 200px 400px;
    color: white;
}

.Pdescripcion {
    color: white;
}

.divDescripcion {
    grid-column: 1 / span 2;
}

.Pdecoracion {
    font-size: 20px;
    color: white;
    font-family: 'Caveat', cursive;
    display: flex;
    align-items: flex-end;
}

.divAbs {
    top: 40px;
    right: 0;
    position: absolute;
}

.productos {
    margin: 5% 0px;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .gridTitulo {
        grid-template-columns: 200px 100px;
    }

    .divAbs {
        right: -30px;
    }

    header .overlay {
        padding: 50px 10px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
    --color: #3c3163;
    --transition-time: 0.5s;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
}

.card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: url("../Fotos/banner5.webp");
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 5px solid #ffe1be;
    text-decoration: none;
}

#cardCupCake {
    background-image: url("../Fotos/banner1.jpeg");
}

#cardTarta {
    background-image: url("../Fotos/banner2.jpeg");
}

.card:hover {
    transform: rotate(0);
}

.card h3 {
    margin: 0;
    color: white;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card:before {
    background: rgba(255, 123, 123, 0.342);
    width: 250%;
    height: 250%;
}

.card:after {
    background: rgba(255, 123, 123, 0.342);
    width: 200%;
    height: 200%;
}

.card:hover {
    color: var(--color);
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.imgPersona {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    border: 5px solid #ffe1be;
}

.autora {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descripcionPersonal {
    width: 250px;
    margin-bottom: 100px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }

    .get-in-touch {
        width: 500px;
    }

    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 570px) {
    .get-in-touch {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }

    .card {
        max-width: calc(100vw - 4rem);
    }
}

@media screen and (max-width: 450px) {
    .info {
        display: block;
        text-align: center;
    }

    .info h3 {
        margin: 0;
    }
}

@media screen and (max-width: 770px) {
    .navbar-nav.navbar-center {
        position: relative;
        display: block;
        left: 0%;
        transform: none;
    }

    .navbar-nav>li>.Msass {
        display: none;
    }
}

.scComentarios {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.scComentarios div h3 {
    padding-left: 10px;
}

.scComentarios div h2 {
    text-align: center;
}

.scComentarios .divflex {
    display: flex;
}

.comentario {
    width: 400px;
    margin: 0px 50px;
    background-color: #ffad7f;
    position: relative;
}

.comentario h3 {
    padding: 0;
}

.comentario .pComentario {
    padding: 15px;
    padding-bottom: 40px;
}

.comentario .iconoPersona {
    position: absolute;
    bottom: -35px;
    right: 0;
}

.comentario .iconoPersona .iconoPers {
    width: 80px;
}

/*************************Pastele*****************************/
.colour-block {
    background: #f5b399;
    width: 100%;
    padding: 1% 10% 5% 10%;
    color: #fff;
}

.SubTituloh2 {
    text-align: center;
    font-size: 80px;
    font-family: 'wire one', serif;
    font-weight: normal;
}

.textoPrueba {
    font-size: 20px;
    font-family: 'Raleway', serif;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
    width: 100%;
    height: 100px;
    left: 0px;
    margin-bottom: 20px;
    background: linear-gradient(to right bottom, #f5b399 49%, #fdc19f 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
    width: 100%;
    height: 100px;
    left: 0px;
    background: linear-gradient(to left bottom, #fdc19f 49%, #f5b399 50%);
}

.divFlex {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .divFlex {
        align-items: center;
        flex-direction: column;
    }
}



.divpasteles {
    margin: 0px 30px;
}

.scPedidos {
    text-align: center;
}

.formulario {
    text-align: start;
    display: flex;
    justify-content: center;
}

/* Importación de fuentes de google fonts */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.contact_form {
    width: 460px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}


input,
.select {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}

#btnPedido {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    input,
    select,
    textarea,
    #btnPedido {
        width: 300px;
    }

    .contact_form {
        margin: 30px 0px;
        padding: 0;
    }
}


#btnPedido p {
    color: #fff;
    margin: 0;
}


span {
    color: #ab4493;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.scPedido {
    display: flex;
    justify-content: center;
}

.buttonPedido {
    padding: 5px 50px;
    background: #ff966d;
    border: 1px solid #cf673e;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px;
}

/*Footer*/

.list {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    align-items: center;
    list-style: none;
}

@media (min-width: 500px) {
    .list {
        grid-auto-flow: column;
    }
}

.link {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0deg 100% 63% / 40%);
}

.link:hover {
    color: #fff;
    box-shadow: inset 0 -1.2em 0 hsla(0deg 97% 71% / 40%);
}

.enlace:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.pIcono {
    padding-top: 10px;
}

.enlace:hover~.enlace .pIcono {
    animation: wave-animation 0.3s infinite;
}

.divRedesSociales {
    display: flex;
    background-color: #ffae80;
    line-height: 1.3;
    font-family: Menlo, monospace;
    padding: 20px;
}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

/************************Contacto**************************/
.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    font-size: 3.2em;
    line-height: 48px;
}

.contact-form .form-field {
    position: relative;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #f38f56;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #d3680c;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,  #ff833c, #dd3d00);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.contact-form .divbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scVer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}